@font-face {
    font-family: Noto Sans;
    src: url(/fonts/Noto/NotoSans-Regular.ttf);
}

body{
    /* font-family: Rubik Regular; */
    font-family: Noto Sans;
    font-size: 18px;
    background: #000000;
    color: #ffffff;
}

a:link {color: #79a8ff}
a:visited {color: #feacd0}

main {
    max-width: 1000px ;
    margin: auto ;
}

img {
    max-width: 100% ;
    text-align: center;
}

.centered-image {
    text-align: center;
}

.about-image {
    text-align: center;
    width: 20%;
}


.landing-image {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.warning {
    border: 10px solid #3a0c14;
    background: #3a0c14;
}

.subtitle {
    color:#989898;
    font-style: italic;
    text-align: center;
}

header h1 {
    font-family: Noto Sans;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    /* text-decoration: underline; */
}

h2 {
    font-family: Noto Sans;
    color: #d2b580;
    font-size: 30px;
}

h3 {
    font-family: Noto Sans;
    color: #82b0ec;
    font-size: 22px;
}

h4 {
    color: #feacd0;
    font-size: 18px;
}

h5 {
    color: #ff9580;
}

h6 {
    color: #9ac8e0;
}

h7 {
    color: #989898;
}

p {
    font-size: 18px;
}

body code:not(pre code) {
    color: #6ae4b9;
}

.verbatim {
    color: #f78fe7;
    font-family: Noto Sans;
    font-style: italic;
    font-weight: bold;
}

.src {
    border-top: 5px solid #1e1e1e;
    border-bottom: 5px solid #1e1e1e;
}

#TableOfContents {
    border-top: 5px solid #1e1e1e;
    border-bottom: 5px solid #1e1e1e;
}

.gallery {
    border: 10px solid #1e1e1e;
    background: #1e1e1e;
}

footer {
    text-align: center ;
    clear: both ;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%; /* Adjust the width as needed */
    padding: 10px;
}

/* For TAGLIST.HTML */
.taglist {
    text-align: center ;
    clear: both ;
    padding: 20px ;
}

/* For NEXTPREV.HTML */
#nextprev {
    /* The container for both the previous and next articles. */
}
#prevart {
    float: left ;
    text-align: left ;
}
#nextart {
    float: right ;
    text-align: right ;
}
#nextart,#prevart {
    max-width: 33% ;
}

.basictitle {
    font-size: 20px;
}

.includetitle {
    font-size: 20px;
}
