<!-- layouts/shortcodes/landing-content.html -->
{{ $notes := where .Site.RegularPages "Type" "note" }}
{{ $pubs := where .Site.RegularPages "Type" "publication" }}

<section class="all-content">

  <h2>All Publications</h2>
  <ul class="publication-list">
    {{ range (sort $pubs "Date" "desc") }}
    <li class="publication-item">
      <article>
        {{ $formattedDate := .Date.Format "2006-01-02 Monday" }}
        <span>{{ $formattedDate }}</span> - <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ with .Params.tags }}
        <span class="tag-small">
          {{ range $index, $tag := split . ", " }}
          {{ if $index }}, {{ end }}{{ $tag }}
          {{ end }}
        </span>
        {{ end }}
      </article>
    </li>
    {{ end }}
  </ul>
</section>
