{{ $pubs := where .Site.RegularPages "Type" "publication" }}
{{ $notes := where .Site.RegularPages "Type" "note" }}
{{ $recentPubs := first 10 (sort $pubs "Date" "desc") }}
{{ $recentNotes := first 10 (sort $notes "Date" "desc") }}

<div class="recent-publications-and-notes">
  <h2>Recent Publications</h2>
  <ul class="publication-list">
    {{ range $recentPubs }}
      <li class="publication-item">
        <article>
          {{ $formattedDate := .Date.Format "2006-01-02 Monday" }}
          <span>{{ $formattedDate }}</span> - <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ with .Params.authors }}
            <div class="authors">
              {{ delimit . ", " " and " }}
            </div>
          {{ end }}
        </article>
      </li>
    {{ end }}
  </ul>

  <h2>Recent Notes</h2>
  <ul class="note-list">
    {{ range $recentNotes }}
      <li class="note-item">
        <article>
          {{ $formattedDate := .Date.Format "2006-01-02 Monday" }}
          <span>{{ $formattedDate }}</span> - <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </article>
      </li>
    {{ end }}
  </ul>
</div>
