{{ $pubs := where .Site.RegularPages "Type" "publication" }}
{{ $notes := where .Site.RegularPages "Type" "note" }}
{{ $recentPubs := first 10 (sort $pubs "Lastmod" "desc") }}
{{ $recentNotes := first 10 (sort $notes "Lastmod" "desc") }}

<ul class="publication-list">
  {{ range $recentPubs }}
    <li class="publication-item">
      <article>
        {{ $formattedDate := .Lastmod.Format "2006-01-02 Monday" }}
        <span>{{ $formattedDate }}</span> - <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ if ne .Lastmod .Date }}
        <small class="updated">(Updated)</small>
        {{ end }}
        {{ with .Params.authors }}
          <div class="authors">
            {{ delimit . ", " " and " }}
          </div>
        {{ end }}
      </article>
    </li>
  {{ end }}
</ul>
