<h2>Browse Publications by Tag</h2>

{{ $parent := lower (.Get 0) }}

{{ $parentItems := false }}

{{ range $name, $items := site.Taxonomies.tags }}
{{ if eq (lower $name) $parent }}
{{ $parentItems = $items }}
{{ end }}
{{ end }}

{{ if $parentItems }}
<ul id="tagcloud">
  {{ range $name, $items := site.Taxonomies.tags }}
  {{ if ne (lower $name) $parent }}

  {{ $count := 0 }}

  {{ range $items.Pages }}
  {{ $candidate := . }}

  {{ range $parentItems.Pages }}
  {{ if eq .RelPermalink $candidate.RelPermalink }}
  {{ $count = add $count 1 }}
  {{ end }}
  {{ end }}

  {{ end }}

  {{ if gt $count 0 }}
  <li class="tagcloud-item">
    <a href="{{ $items.Page.RelPermalink }}">
      {{ $name | title }}
    </a>
    <span class="tagcloud-count">{{ $count }}</span>
  </li>
  {{ end }}

  {{ end }}
  {{ end }}
</ul>
{{ end }}
